# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.BilgeLab.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Maleriya\Desktop\Pigeon Gaming\BilgeLab\.idea\.idea.BilgeLab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
